# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Clerk For User Login/Google/Plans
# https://clerk.com

# Neon database
# https://console.neon.tech

# Cloudinary
# https://console.cloudinary.com

# Gemini AI API
# https://aistudio.google.com/apikey
# https://ai.google.dev/gemini-api/docs/openai

# Clipdrop AI 
# https://clipdrop.co/apis

# Video
# https://youtu.be/RkYIWg5XAnI
